name: Environments Demo

on:
  workflow_dispatch:
  
jobs:
  deploy-to-devtest:
    runs-on: ubuntu-latest
    environment: DevTest
    
    steps: 
      - run: echo "Hello world from DevTest"

  deploy-to-prod:
    runs-on: ubuntu-latest
    needs: deploy-to-devtest
    environment: Production
    
    steps: 
      - run: echo "Hello world from Production"
